project:
  type: website
  output-dir: docs
  preview:
    port: 4200

website:
  title: Metill
  description: Notum gögn til að upplýsa, ekki sannfæra.
  site-url: metill.is
  search: false
  navbar: false
  open-graph: true
  twitter-card: 
    creator: "@bggjonsson"
    card-style: summary_large_image
    site: "@bggjonsson"
  page-footer:
    center:
      - text: "Um Metil"
        href: um_metil.qmd
        
format:
  html:
    include-in-header: header/header.html
    theme: [flatly, theme.scss]
    css: style.css
    execute: 
      freeze: true
      cache: true

editor: source

