project:
  type: website
  resources: 
    - "*.png"
  output-dir: docs
  preview:
    port: 4200

website:
  title: Metill
  description: Notum gögn til að upplýsa, ekki sannfæra.
  site-url: https://metill.is
  favicon: "favicon/favicon-32x32.png"
  search: false
  navbar: false
  open-graph: true
  reader-mode: true
  twitter-card: 
    creator: "@bggjonsson"
    card-style: summary_large_image
    site: "@bggjonsson"
  page-footer:
    background: primary
    foreground: secondary
    center:
      - text: "Um Metil"
        href: um_metil.qmd
        
format:
  html:
    include-in-header: header/header.html
    theme: [flatly, theme.scss]
    css: style.css
    execute: 
      freeze: false
      echo: false
      warning: false

editor: source

