
#hero-banner {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0f0f0;
  border: 1px solid #737373;
  text-align: center;
}

#people-banner {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  background-color: #f0f0f0;
  border: 1px solid #737373;
  text-align: center;
}

#between-content {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dbe1e6;
  border: none;
  color: hsla(232, 20%, 30%, 1);
}

#quarto-content main { 
  margin-top: 0;
  padding-top: 0;
}

html {
  scroll-behavior: smooth;
}

.headline {
font-size: 1.25em;
font-weight: 300;
padding-bottom: 1em;
}
.headline p {
  margin: 0;
  padding-bottom: 0.2rem;
}
.headline a {
  text-decoration: none;
}
.headline ul li {
  margin-bottom: 0.3em;
}
.carousel.card {
  padding-top: 2em;
}
.carousel img {
  width: 70%;
  margin-bottom: 110px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  margin-bottom: 110px;
}
.carousel-caption {
  padding-top: 1em;
}

h1:not(.title), h2, h3, h4 {
  color: hsla(232, 20%, 35%, 1);
}

.blockquote {
  text-align: justify;
  font-family: Bookman;

}

.tab-content {
  border: none;
}





