/*-- scss:defaults --*/

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js";

$primary:                       hsla(232, 20%, 35%, 1);
$secondary:                     hsla(0, 9%, 98%, 1);
$body-bg:                       $secondary;

$font-size-base:                1rem; 
$font-family-base:              "Lato";
$font-family-sans-serif:        "Lato", "Open Sans", "Montserrat", "Roboto";
$font-family-monospace:         "SFMono-Regular", "Menlo", "Monaco", "Consolas";

  
  
/*-- scss:rules --*/  

.font-weight-light {
  font-weight: 10;
}

.hero-row {
  
}
 
body > nav > div > div.d-flex.flex-row > header > div > a > h1 {
  font-size: 48px;
  font-family: "Playfair Display";
}

  

body > nav > div > div.col-12.d-flex.justify-content-center {
  font-size: 24px;
  border-top: 1px solid $secondary;
  width: 100%;
  font-family: "Segoe UI";
}
 
.card { 
  background-color: $secondary;
  transition: 0.5s;
}
.card:hover {
  background-color: hsla(0, 12%, 96%, 1);
  
}
