/*-- scss:defaults --*/

$darkblue:                      #484D6D;
$lightblue:                     #bcbddc;
$white:                         #ffffff;


$primary:                       #484D6D;
$secondary:                     #faf9f9;

$body-bg:                       #faf9f9;



$font-size-base:                1rem; 
$font-family-base:              "Segoe UI";
$font-family-sans-serif:        "Lato", "Open Sans", "Montserrat", "Roboto";
$font-family-monospace:         "SFMono-Regular", "Menlo", "Monaco", "Consolas";


$headings-color:                $darkblue;
$headings-font-weight:          4000;
$headings-font-family:          "Segoe UI";


$navbar-brand-font-size:        $font-size-base * 1.2;
$navbar-brand-font-family:      "Playfair Display";
$navbar-brand-font-weight:      700;



/*-- scss:rules --*/
header.quarto-title-block.default .quarto-title .title {
    color: $secondary;
    font-family: "Playfair Display";
    font-size: $font-size-base * 3;
}

div.quarto-post .listing-categories .listing-category {
    color: #6c757d;
    border: solid 1px #dee2e6;
    border-radius: .25rem;
    text-transform: uppercase;
    font-size: .65em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .15em;
    padding-bottom: .15em;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
}

.quarto-listing-category .category {
    font-size: $font-size-base * 0.7;
    cursor: pointer;
    color: #525252;
}


.tab-content {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}


#quarto-header {
  
}

.navbar {
  overflow: visible;
}



.navbar-title {
  text-align: center;
  position: absolute;
  top: 6%;
  right: 0%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: $font-size-base * 1.8;
  border-bottom: 1px solid $secondary; 
  width: 75%;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 45px;
  padding-right: 30px;
  text-align: center;
  margin-left: auto;
  float: left;
}


.card {
  background-color: #faf9f9;
  vertical-align: middle;
  justify-self: center;
}

.column-screen-inset-shaded {
  background-color: #efedf5;
  padding-bottom: 0;
}

div.list.grid {
  display: flex;
  flex-basis: "100%";
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  column-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.card-body {
  background-color: #F8F9FA;
  
  p.listing-description {
    font-size: 0px;
    padding: 0px;
    margin: 0px;
  }
}

div.card-footer {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  align-content: center;
  border: none;
}



.listing-title {
  font-size: $font-size-base * 1.4;
}

.listing-subtitle {
  font-size: $font-size-base * 1;
}

.listing-description {
  font-size: $font-size-base * 0.9;
}

.listing-date {
  font-size: $font-size-base * 0.9;
}

.btn-primary {
  color: $secondary;
  background-color: $primary;
}

.btn-link {
  align-self: end;
  width: 30;
  color: $secondary;
  text-decoration: none;
  margin-left: 80%;
  margin-right: 0px;
}

.btn-link:hover {
  color: $secondary;
}

#mælaborð {
  margin-top: -30px;
}

@media (min-width: 900px) {
  
  .listing-card {
  width: 30%;
}

  #listing-posts > div.list.grid > div:nth-child(1) {
  width: 100%;
  
  img {
    width: 50%;
    margin: 5px;
    border: 1px solid #969696;
    float: right;
  }
  
  a.listing-title {
    font-size: 3vw;
  }
  
  p.listing-subtitle {
    color: #525252;
    font-size: 1.1vw;
  }
  
  p.listing-description {
    font-size: 1.5vw;
    padding: 10px;
    color: #969696;
  }
  
  
}

  
}

